@using CarRentalManagement.Services
@model CarRentalManagement.Models.ViewModel.ContractManagement.AddContractViewModel
@inject IRentRequestService RentRequestService

@{
    ViewBag.Title = "Thêm hợp đồng";
    Layout = "_Layout";

    var rentRequestSelectList = await RentRequestService.ListAsync<SelectListItem>().ConfigureAwait(false);
}
<div class="container-fluid mr-top-20">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <form asp-action="AddContractDetail" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="well well-sm text-danger">@TempData["Message"]</div>
                <input asp-for="ReturnUrl"/>
                <input asp-for="CreatedBy"/>
                
                <fieldset class="form-floating mb-3">
                    <label asp-for="RentRequestId" class="control-label"></label>
                    <select asp-for="RentRequestId" asp-items="rentRequestSelectList" class="form-control chosen"></select>
                    <span asp-validation-for="RentRequestId" class="text-danger"></span>
                </fieldset>
                
                <div class="text-right">
                    <a class="btn btn-default" id="cancel">Huỷ</a>
                    <button class="btn btn-primary" type="submit">Thêm chi tiết hợp đồng</button>
                </div>
            </form>
        </div>
    </div>
</div>
