<div class="container">
    <h1>Chính sách thuê xe ô tô</h1>
    <p>
        Chào mừng đến với trang web của chúng tôi, chúng tôi rất vui khi bạn đang quan tâm đến chính sách thuê xe ô tô của chúng tôi. Vui lòng đọc kỹ các điều khoản sau đây trước khi tiến hành thuê xe ô tô của chúng tôi.
    </p>
    <hr>

    <h2>Điều khoản và điều kiện</h2>
    <p>
        Khi bạn thuê xe ô tô của chúng tôi, bạn đồng ý với các điều khoản và điều kiện sau đây:
    </p>
    <ul>
        <li>Xe ô tô chỉ được sử dụng bởi người đã đăng ký thuê và không được chuyển nhượng cho bất kỳ ai khác.</li>
        <li>Người thuê xe phải có bằng lái xe hợp lệ và đã đủ tuổi để lái xe tại địa phương.</li>
        <li>Xe ô tô phải được trả lại đúng hạn và trong tình trạng giống như khi được nhận.</li>
        <li>Người thuê xe phải chịu trách nhiệm tài chính đối với mọi thiệt hại hoặc tổn thất gây ra cho xe ô tô trong thời gian thuê.</li>
        <li>Chúng tôi có quyền từ chối thuê xe ô tô cho bất kỳ lý do nào.</li>
    </ul>
    <h2>Phí và thanh toán</h2>
    <p>
        Các phí cho việc thuê xe ô tô được tính theo ngày hoặc theo tháng hoặc theo năm, tùy vào từng trường hợp cụ thể. Chúng tôi sẽ thông báo cho bạn về các khoản phí cần thanh toán trước khi bạn thuê xe.
    </p>
    <h2>Hủy đặt xe và hoàn tiền</h2>
    <p>
        Chúng tôi sẽ huỷ yêu cầu đặt xe nếu bạn không nhận xe trong vòng 24h theo ngày nhận xe bạn đặt trước đó. Nếu trong thời gian từ lúc kí hợp đồng cho đến khi nhận xe khách hang muốn huỷ hợp đồng thì khách sẽ phải chịu 10% tổng số tiền thuê xe
    </p>
    <p>Trong trường hợp bạn muốn kết thúc sớm chuyến đi của mình khi vẫn chưa đến thời hạn trả xe, chúng tôi sẽ hoàn trả lại số tiền các ngày bạn chưa sử dụng</p>

    <h2>Trách nhiệm của khách thuê xe</h2>
    <ul>
        <li>Kiểm tra kỹ xe trước khi nhận và trước khi hoàn trả xe. Kí xác nhận biên bản bàn giao về tình trạng xe khi nhận và khi hoàn trả.</li>
        <li>Thanh toán 50% tiền thuê xe trước khi nhận xe. 50% còn lại sẽ phải thanh toán khi trả xe</li>
        <li>Xuất trình đầy đủ các giấy tờ liên quan: CCCD, sổ hộ khẩu , giấy khai sinh (các giấy tờ phải photo và có dấu xác thực của địa phương)</li>
        <li>Tuân thủ quy định và thời gian trả xe như 2 bên đã thỏa thuận.</li>
        <li>Chịu trách nhiệm đền bù mọi thất thoát về phụ tùng, phụ kiện của xe, đền bù 100% theo giá phụ tùng chính hãng nếu phát hiện phụ tùng bị tráo đổi, chịu 100% chi phí sửa chữa xe nếu có xảy ra hỏng hóc tùy theo mức độ hư tổn của xe, chi phí các ngày xe nghỉ không chạy được do lỗi của khách thuê xe (giá được tính bằng giá thuê trong hợp đồng) và các khoản phí vệ sinh xe nếu có.</li>
    </ul>
    <h2>Trách nhiệm của công ty trong các trường hợp xảy ra sự cố ngoài ý muốn như xe bị cầm cố, thế chấp, bị bắt giữ khi được dùng để vận chuyển ma túy, hàng quốc cấm, hoặc gây tai nạn</h2>
    <p>
        Trong trường hợp có xảy ra sự cố ngoài ý muốn như xe bị cầm cố, thế chấp, bị bắt khi được dùng để vận chuyển ma túy, hàng quốc cấm hoặc gây ra tai nạn, công ty sẽ trình báo với cơ quan công an và các cơ quan có thẩm quyền, cung cấp các thông tin nếu có liên quan đến thành viên thuê xe hoặc các thông tin khác nếu có yêu cầu từ cơ quan chức năng, và tiến hành khóa vĩnh viễn tài khoản thành viên vi phạm.
        Để bảo vệ tốt nhất tài sản của mình và giảm thiểu tối đa các rủi ro có thể xảy ra, công ty cần ràng buộc chặt chẽ về mặt pháp lí bằng việc giao kết bằng văn bản "Hợp đồng cho thuê xe", "Biên bản bàn giao xe", xác minh đầy đủ thông tin và các giấy tờ cá nhân của khách thuê, giữ lại tài sản đặt cọc và các giấy tờ cần thiết và không giao cà vẹt xe bản chính cho khách thuê.
    </p>
</div>