<!DOCTYPE html>
<html lang="vi">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CarRentalManagement</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <style>
      body {
        padding-top: 50px;
      }
      .error-template {
        padding: 40px 15px;
        text-align: center;
      }
      .error-actions {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</div>
<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>