@{
    Layout = "_Layout";
    ViewBag.Title = "403 Forbiden";
}

<div class="error-template">
  <h1>Oops!</h1>
  <h2>403 Forbidden</h2>
  <div class="error-details">
    Xin lỗi, bạn không được phép truy cập.
  </div>
  <div class="error-actions">
    <button onclick="window.history.back()" class="btn btn-primary btn-lg">Trở lại</button>
  </div>
</div>