@model CarRentalManagement.Models.ViewModel.Auth.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">@ViewBag.Title</div>
                <div class="panel-body">
                    <form asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <input asp-for="ReturnUrl">
                        <input asp-for="CustomerId">
                        <div class="well well-sm text-danger">@TempData["Message"]</div>
                        <fieldset class="form-floating mb-3">
                            <label asp-for="CurrentPassword" class="control-label"></label>
                            <input type="password" asp-for="CurrentPassword" class="form-control">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </fieldset>
                        <fieldset class="form-floating mb-3">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input type="password" asp-for="NewPassword" class="form-control">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </fieldset>
                        <fieldset class="form-floating mb-3">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </fieldset>
                        <div style="float: right">
                            <button class="btn btn-default" type="button" id="cancel">Huỷ</button>
                            <button class="btn btn-primary" type="submit">Gửi yêu cầu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}