@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Quên mật khẩu</div>
                <div class="panel-body">
                    <form asp-action="ResetPassword" method="post">
                        <div class="well well-sm text-danger">@TempData["Message"]</div>
                        <input type="hidden" name="ReturnUrl" value="@Context.Request.Headers["Referer"].ToString()"/>
                        <fieldset class="form-floating mb-3">
                            <label for="email" class="control-label">Địa chỉ email</label>
                            <input type="email" id="email" name="email" placeholder="Nhập địa chỉ email đã đăng ký" class="form-control">
                        </fieldset>

                        <div style="float: right">
                            <button class="btn btn-default" type="button" id="cancel">Huỷ</button>
                            <button class="btn btn-primary" type="submit">Gửi yêu cầu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}