@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-login">
                <div class="card-header">
                    <h3 class="text-center">
                        <div class="well well-sm text-danger">@TempData["Message"]</div>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>